@model List<User>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

<div class="d-flex justify-content-between">
	<div>
		<h2>نام ها</h2>
	</div>
	<div>
		<a class="btn btn-success" asp-controller="Home" asp-action="Create">افزودن</a>
	</div>
	<br />
</div>
<table class="table table-striped">

<thead>

<tr>

	<th>ردیف</th>
	<th>نام</th>
	<th>عملیات</th>

</tr>

</thead>


<tbody>

@for (int i = 0; i < Model.Count; i++)
{
	<tr>
		<td>
			@(i + 1)
		</td>
		<td>
			@Model[i].Name
		</td>
		<td>
			<a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@Model[i].Id">
				حذف
			</a>
			<a class="btn btn-secondary" asp-controller="Home" asp-action="Edit" asp-route-id="@Model[i].Id">
				ویرایش
			</a>
			@if(@Model[i].AddressId==null){
						<a class="btn btn-secondary" asp-controller="Home" asp-action="CreateAddress" asp-route-userid="@Model[i].Id">
					آدرس
				</a>
			}
		</td>
		
	</tr>
	}
	
	</tbody>
	</table>



</div>
